@import './util';
@import './common';
@import './elements';

#songs {
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    // padding: 2em 0;
    background-color: colors(w);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include mobile(1000px) {
        width: 80vw;

    }

    @include mobile(650px) {
        width: 90vw;

    }
}


//changs for light mode 
nav {
    padding: 0 1rem;

    #nlinks {
        a {
            color: colors('b');

        }
    }

    #logo {
        h3 {
            color: colors('b');
        }
    }

    #nicons {

        i {
            color: colors('b');
        }
    }

    #menu {
        color: colors(b);
    }

    // background-color: rgba(0, 0, 0, 0.226);
}

#nlinks {
    a {
        color: colors('b');
    }
}

#logo {
    h3 {
        color: colors('b');

        span {
            color: colors('r');
        }
    }
}

#nicons {

    i {
        color: colors('b');
    }
}

#sResult {
    width: 90%;
    // background-color: red;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #srchTxt {
        // background-color: yellow;
        height: 8vh;
        display: flex;
        align-items: center;

        h3 {
            font-family: $secondaryFont;
            font-weight: fontWeight('r');


        }
    }

    #sList {
        padding: 1em;
        height: 75vh;
        width: 100%;
        overflow: auto;
        border: 1px solid map-get($colorAlpha, v);

        &::-webkit-scrollbar {
            display: none;
        }
    }


    .selm {
        background-color: colors(w);
        height: 15vh;
        width: 100%;
        margin-top: .5em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
        display: flex;
        justify-content: space-between;
        padding: 1em;

        @include mobile(600px) {
            height: 13vh;

        }

        .sImg {
            width: 20%;
            height: 100%;
            // background-color: violet;
            display: flex;
            justify-content: center;
            font-size: 20px;

            @include mobile(600px) {
                font-size: 13px;

            }


            .sPic {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .sInfo {
            width: 55%;
            height: 100%;
            // background-color: yellow;
            font-size: 20px;

            @include mobile(600px) {
                font-size: 12px;

            }

            h4 {
                font-family: $secondaryFont;
                font-weight: fontWeight(r);
                font-size: 1.5em;
            }

            p {
                font-size: .8em;
                font-weight: fontWeight(m);
                margin-top: 1em;
                letter-spacing: .1em;
            }

        }

        .sicons {
            width: 20%;
            height: 100%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            font-size: 20px;

            @include mobile(600px) {
                font-size: 13px;

            }


            .igrp {
                width: 40%;
                display: flex;
                justify-content: space-between;

                .igelm {
                    display: flex;

                    p {
                        font-size: .8em;
                        margin-right: .2em;
                    }
                }
            }

            a {
                button {
                    border: none;
                    background-color: colors(r);
                    color: colors(w);
                    padding: .5em 1em;
                    letter-spacing: .1em;
                    font-size: .8em;
                    border-radius: 2em;
                    cursor: pointer;

                    @include mobile(600px) {
                        font-size: .6em;
                        padding: .5em;

                    }
                }
            }
        }
    }
}