<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style/css/style.min.css">
  <!-- css animation  -->
  <link rel="stylesheet" href="https://www.griffininsight.com/css/animate.css">
  <!-- remix icons  -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- locomotive js  -->
  <link rel="stylesheet" href="/stylesheets/style/util/lcm.css">
  <!-- Adobe font  -->
  <link rel="stylesheet" href="https://use.typekit.net/ypq4nzb.css">


</head>

<body>
  <main data-scroll-container>
    <div class="aOvrly">

    </div>
    <div class="aOvrly">

    </div>


    <div id="menuSec">
      <i class="ri-close-circle-fill" id="menuCls"></i>
      <div id="mcontent">
        <div id="mbg">
          <img
            src="https://images.unsplash.com/photo-1540324155974-7523202daa3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
            alt="">

        </div>
        <div id="mshade">

        </div>
        <div id="mIndex">

          <div id="mLinks">
            <a href="/profile">Home</a>
            <a href="#">Browser</a>
            <a href="#">Premium</a>
            <a href="/songs">All Songs</a>
          </div>
          <div id="mfooter">
            <p>"where words leave off, music begins." </p>
            <div class="mlogo">
              <h3>Liste<span>now.</span></h3>

            </div>

          </div>


        </div>

      </div>


    </div>
    <div id="sb1Sec">
      <i class="ri-close-circle-fill" id="sb1Cls"></i>

      <div id="sb1Content">

        <div id="logWin" class="authFill">
          <h6>Login</h6>
          <form action="/login" method="post">
            <div class="felm">
              <label for="unm">
                username
              </label>
              <input type="text" placeholder="enter your unique username" name="username">
            </div>
            <div class="felm">
              <label for="p">
                password
              </label>
              <input type="password" placeholder="enter password" name="password">
            </div>
            <div class="fbtn">
              <button type="submit">LOGIN</button>
            </div>
            <p id="signBtn">new user? create an account here for great experience</p>

          </form>


        </div>
        <div id="signWin" class="authFill">
          <h6>Signup</h6>
          <form action="/signup" method="post">
            <div class="felm">
              <label for="nm">
                name
              </label>
              <input type="text" placeholder="enter your full name" name="name">
            </div>
            <div class="felm">
              <label for="unm">
                username or email
              </label>
              <input type="text" placeholder="username" name="username">
            </div>

            <div class="felm">
              <label for="p">
                password
              </label>
              <input type="password" placeholder="create password" name="password">
            </div>
            <div class="fbtn">
              <button type="submit">SIGNUP</button>
            </div>
            <p id="logBtn">Already have an account? arrey pahle batana tha n chalo yahan se login karlo</p>


          </form>


        </div>

      </div>

    </div>
    <nav>
      <div id="nlft">
        <i class="ri-menu-line" id="menu"></i>

        <div id="logo">
          <h3>Liste<span>now.</span></h3>

        </div>
        <div id="nlinks">
          <a href="#">Home</a><a href="#">Browser</a><a href="#">Premium</a><a href="/songs">All songs</a>

        </div>
      </div>

      <div id="nicons">
        <i class="ri-sun-line"></i>
        <i class="ri-earth-fill"></i>
        <i class="ri-user-add-fill" id="sb1Btn"></i>
      </div>
    </nav>
    <div id="srchOvly">

    </div>
    <div id="search">
      <form action="/search">
        <input type="search" placeholder="search latest trending songs, album and playlist" name="q">
        <i class="ri-close-circle-fill" id="srchCls"></i>
      </form>
      <div id="srchOptions">


      </div>
    </div>
    <div id="hero">
      <div id="hlft">
        <div id="lftImg">
          <h2>Where <br> Words <br> Leave Off, <br> Music <br> Begins.</h2>
        </div>
      </div>
      <div id="hrt">
        <div id="hcarousel">
          <div id="glow">

          </div>
          <div id="hslider">


            <div class="sElm">
              <img
                src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="">
            </div>
            <div class="sElm">
              <img
                src="https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="">
            </div>
            <div class="sElm">
              <img
                src="https://images.unsplash.com/photo-1512621301270-6b01205790ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
                alt="">
            </div>
            <i class="ri-arrow-drop-right-fill" id="sNext"></i>
          </div>

          <div class="sovly">

          </div>
          <div id="singer">
            <img src="/asset/singers/Mask Group 19.png" alt="" id="singer01">

          </div>
          <div id="htxt">
            <h2>Rangsari | Kavita Seth & Kanishk Seth | Jugjugg jyoo</h2>
            <a href="/playSong/62ce9e32f7c48916b1c603ae">Play now</a>

          </div>

        </div>
        <div id="number">
          <h2>0<span>3</span>/03</h2>
        </div>







      </div>
      <!-- <div class="label">
        <h6>SCROLL DOWN</h6>
        <i class="ri-arrow-drop-down-line"></i>
      </div> -->
    </div>

    <!-- <div data-scroll-section id="trending">
      <?xml version="1.0" encoding="UTF-8"?>
      Created with Inkscape (http://www.inkscape.org/) 
    <svg width="210mm" height="297mm" version="1.1" viewBox="0 0 210 297" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m93.757 13.074s47.502-11.176 48.702 14.339c1.1996 25.514-33.108 36.901-33.108 36.901s-9.1166 2.952-11.036 12.652c-1.9193 9.6996 22.552 19.188 22.552 19.188s30.949 7.8018 22.312 25.092c-8.6368 17.291-57.579 14.76-57.579 14.76-19.137 1.0513-10.446-30.989 9.1166-18.134 19.483 12.803 17.034 28.888 17.034 28.888 0 12.722 37.621 40.705 0 38.166 0 0 7.1974 0.42171 0 0-29.885-1.7511-1.9193 32.473-1.9193 32.473 10.68 15.645 72.933 20.875 34.547 51.45-38.386 30.575-75.812 24.46-75.812 24.46"
        fill="none" stroke="#000" stroke-width=".10239px" />
    </svg>


    </div>  -->





  </main>
  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- lettering js  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
    integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- textillate js  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
    integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- locomotive js  -->
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.3/dist/locomotive-scroll.min.js"></script>
  <!-- scroll trigger  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"
    integrity="sha512-5efjkDjhldlK+BrHauVYJpbjKrtNemLZksZWxd6Wdxvm06dceqWGLLNjZywOkvW7BF032ktHRMUOarbK9d60bg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- GSAP  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
    integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/indxScript.js"></script>
  <script src="/javascripts/lcmSetup.js"></script>
  <script src="/javascripts/search.js"></script>
  <script src="/javascripts/menu.js"></script>
  <script src="/javascripts/animation/animation.js"></script>
</body>

</html>