<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style/css/style.min.css">
    <link rel="stylesheet" href="/stylesheets/style/css/profileStyle.min.css">
    <!-- css animation  -->
    <link rel="stylesheet" href="https://www.griffininsight.com/css/animate.css">
    <!-- remix icons  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- locomotive js  -->
    <link rel="stylesheet" href="/stylesheets/style/util/lcm.css">
    <!-- Adobe font  -->
    <link rel="stylesheet" href="https://use.typekit.net/ypq4nzb.css">

</head>

<body>
    <main data-scroll-container>
        <div class="aOvrly">

        </div>
        <div class="aOvrly">

        </div>
        <div id="menuSec">
            <i class="ri-close-circle-fill" id="menuCls"></i>
            <div id="mcontent">
                <div id="mbg">
                    <img src="https://images.unsplash.com/photo-1540324155974-7523202daa3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                        alt="">

                </div>
                <div id="mshade">

                </div>
                <div id="mIndex">

                    <div id="mLinks">
                        <a href="/profile">Home</a>
                        <a href="#">Browser</a>
                        <a href="#">Premium</a>
                        <a href="/songs">All Songs</a>
                    </div>
                    <div id="mfooter">
                        <p>"where words leave off, music begins." </p>
                        <div class="mlogo">
                            <h3>Liste<span>now.</span></h3>

                        </div>

                    </div>


                </div>

            </div>


        </div>
        <div id="sb1Sec">
            <i class="ri-close-circle-fill" id="sb1Cls"></i>
            <div id="user">
                <div id="profilePic">
                    <div id="pic">
                        <img src="https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                    </div>
                    <a href="#">upload a profile pic </a>

                </div>
                <div id="uNavigation">
                    <div class="uelm">
                        <a href="#">User Profile</a><i class="ri-user-settings-line"></i>
                    </div>
                    <div class="uelm">
                        <a href="#">Your Library</a><i class="ri-play-list-fill"></i>
                    </div>
                    <div class="uelm">
                        <a href="/songsYouLike">Songs you Like</a><i class="ri-heart-fill"></i>
                    </div>
                    <div class="uelm">
                        <a href="/songsYouAdded">Songs uploaded by you</a><i class="ri-music-line"></i>
                    </div>
                    <div class="uelm">
                        <a href="/uploadForm">Upload Song </a><i class="ri-upload-cloud-fill"></i>
                    </div>

                    <a href="/logout"><button id="logout">Logout <i class="ri-logout-circle-r-line"></i></button></a>
                </div>



            </div>

        </div>
        <nav>
            <div id="nlft">
                <i class="ri-menu-line" id="menu"></i>

                <div id="logo">
                    <h3>Liste<span>now.</span></h3>

                </div>
                <div id="nlinks">
                    <a href="#">Home</a><a href="#">Browser</a><a href="#">Premium</a><a href="/songs">All songs</a>

                </div>
            </div>
            <div id="nrt">

                <h6>Hi <%=userData.name%>!
                </h6>
                <div id="nicons">
                    <i class="ri-sun-line"></i>
                    <i class="ri-earth-fill"></i>
                    <i class="ri-user-smile-fill" id="sb1Btn"></i>
                </div>
            </div>


        </nav>
        <div id="srchOvly">
        </div>
        <div id="search">
            <form action="/search">
                <input type="search" placeholder="search latest trending songs, album and playlist" name="q">
                <i class="ri-close-circle-fill" id="srchCls"></i>

                <!-- <i class="ri-search-line"></i> -->


            </form>
            <div id="srchOptions">


            </div>
        </div>
        <div id="hero">
            <div id="hlft">
                <div id="lftImg">
                    <h2>Where <br> Words <br> Leave Off, <br> Music <br> Begins.</h2>
                </div>
            </div>
            <div id="hrt">
                <div id="hcarousel">
                    <div id="glow">

                    </div>
                    <div id="hslider">


                        <div class="sElm">
                            <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                                alt="">
                        </div>
                        <div class="sElm">
                            <img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                                alt="">
                        </div>
                        <div class="sElm">
                            <img src="https://images.unsplash.com/photo-1512621301270-6b01205790ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
                                alt="">
                        </div>
                    </div>

                    <div class="sovly">

                    </div>
                    <div id="singer">
                        <img src="/asset/singers/Mask Group 19.png" alt="" id="singer01">

                    </div>
                    <div id="htxt">
                        <h2>Rangsari | Kavita Seth & Kanishk Seth | Jugjugg jyoo</h2>
                        <a href="/playSong/62c3b603fbe36d4221431b86">Play now</a>

                    </div>

                </div>







            </div>
            <!-- <div class="label">
              <h6>SCROLL DOWN</h6>
              <i class="ri-arrow-drop-down-line"></i>
            </div> -->
        </div>
        <!-- <div data-scroll-section id="trending">

        </div> -->





    </main>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- lettering js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
        integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- textillate js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
        integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- locomotive js  -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.3/dist/locomotive-scroll.min.js"></script>
    <!-- scroll trigger  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"
        integrity="sha512-5efjkDjhldlK+BrHauVYJpbjKrtNemLZksZWxd6Wdxvm06dceqWGLLNjZywOkvW7BF032ktHRMUOarbK9d60bg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- GSAP  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/javascripts/profileScript.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/lcmSetup.js"></script>
    <script src="/javascripts/animation/animation.js"></script>


</body>

</html>