<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style/css/style.min.css">
    <link rel="stylesheet" href="/stylesheets/style/css/profileStyle.min.css">
    <!-- remix icons  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>

<body>
    <main data-scroll-container>
        <div id="sb1Sec">
            <i class="ri-close-circle-fill" id="sb1Cls"></i>
            <div id="user">
                <div id="profilePic">
                    <div id="pic">
                        <img src="https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                    </div>
                    <a href="#">upload a profile pic </a>

                </div>
                <div id="uNavigation">
                    <div class="uelm">
                        <a href="#">User Profile</a><i class="ri-user-settings-line"></i>
                    </div>
                    <div class="uelm">
                        <a href="#">Your Library</a><i class="ri-play-list-fill"></i>
                    </div>
                    <div class="uelm">
                        <a href="#">Songs you Like</a><i class="ri-heart-fill"></i>
                    </div>
                    <div class="uelm">
                        <a href="#">Songs uploaded by you</a><i class="ri-upload-cloud-fill"></i>
                    </div>
                    <a href="/uploadForm"><button>Upload Song <i class="ri-upload-cloud-fill"></i></button></a>
                    <a href="/logout"><button id="logout">Logout <i class="ri-logout-circle-r-line"></i></button></a>
                </div>



            </div>

        </div>
        <nav>
            <div id="nlft">
                <div id="logo">
                    <h3>Liste<span>now.</span></h3>

                </div>
                <div id="nlinks">
                    <a href="#">Home</a><a href="#">Browser</a><a href="#">Premium</a><a href="/songs">All songs</a>

                </div>
            </div>
            <div id="nrt">

                <h6>Hi <%=userData.name%>!
                </h6>
                <div id="nicons">
                    <i class="ri-sun-line"></i>
                    <i class="ri-earth-fill"></i>
                    <i class="ri-user-smile-fill" id="sb1Btn"></i>
                </div>
            </div>


        </nav>
        <div id="search">
            <form action="#">
                <input type="search" placeholder="search latest trending songs, album and playlist" name="q">
                <!-- <i class="ri-search-line"></i> -->


            </form>
        </div>
        <div id="hero">
            <div id="hlft">
                <img src="/asset/images/elements.png" alt="">

                <!-- <div id="3d">
                    <model-viewer src="./asset/3d model/3d.gltf.glb" alt="VR Headset" autoplay animation-name="Hover"
                        camera-controls ar ios-src="./asset/3d model/3d.gltf.glb"
                        style="position: absolute; left:5%;bottom:5%; width:60%; height:50vh;"></model-viewer>
                </div> -->
                <h2>As soon as <br>
                    I listen music, <br>
                    I ignore everything <br>
                    around me.</h2>


            </div>
            <div id="hrt">
                <div class="sElm">
                    <div class="scontent">
                        <img src="https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                    </div>
                </div>
                <div class="sElm">
                    <div class="scontent">
                        <img src="https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=813&q=80"
                            alt="">
                    </div>
                </div>
                <div class="sElm">
                    <div id="glow">

                    </div>
                    <div class="scontent">
                        <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                        <div class="sovly">

                        </div>
                        <img src="/asset/images/Mask Group 3.png" alt="" id="singer01">
                    </div>
                </div>

            </div>

            <div class="label">
                <h6>SCROLL DOWN</h6>
                <i class="ri-arrow-drop-down-line"></i>
            </div>


        </div>
        <div data-scroll-section id="trending">

        </div>





    </main>

    <script src="/javascripts/profileScript.js"></script>
</body>

</html>