<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style/css/upload.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <main>


        <div id="uploadSec">
            <h1>Upload your songs here!</h1>
            <div id="songInfo" class="authFill">
                <h6>Enter the Song Information</h6>
                <form action="/uploadSong" method="post" enctype="multipart/form-data">
                    <div class="felm">
                        <label for="songName">
                            Song name
                        </label>
                        <input type="text" placeholder="enter the name of the song" name="songName" required>
                    </div>
                    <div class="felm">
                        <label for="album">
                            Album
                        </label>
                        <input type="text" placeholder="enter the name of album" name="album" required>
                    </div>
                    <div class="felm">
                        <label for="artist">
                            Artist
                        </label>
                        <input type="text" placeholder="enter the name of the artist" name="artist" required>
                    </div>
                    <div class="felm">
                        <label for="language">
                            Language
                        </label>
                        <select name="language" id="language" required>
                            <option value="Hindi">Hindi</option>
                            <option value="English">English</option>
                            <option value="Punjabi">Punjabi</option>
                            <option value="Instrumental">Instrument</option>

                        </select>
                    </div>
                    <div class="felm">
                        <label for="songPic">
                            Song Poster
                        </label>
                        <input type="file" name="pic" required>
                        <p>*accepted file format is (.png and .jpg)</p>
                    </div>

                    <div class="felm">
                        <label for="songPic">
                            Song
                        </label>
                        <input type="file" name="song" required>
                        <p>*accepted file format is (.mp3)</p>
                    </div>

                    <button type="submit">Submit</button><br>


                </form>

            </div>

        </div>
        <div class="back">
            <a href="/profile">Home </a><a href="/profile"><i class="ri-home-smile-line"></i></a>
        </div>
        <!-- <button id="tst">
            test it
        </button> -->



    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"
        integrity="sha512-/xb5+PNOA079FJkngKI2jvID5lyiqdHXaUUcfmzE0X0BdpkgzIWHC59LOG90a2jDcOyRsd1luOr24UCCAG8NNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/upload.js"></script>

</body>

</html>